<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div align="center">
		<hr>
			<h2>시스템 추가</h2>
		<hr>
		<br><br>
		<form method="get" action="pc_add_ok">
			<table border="1">
				<tr>
					<th>CPU</th>
					<td><input name="cpu"></td>
				</tr>
				
				<tr>
					<th>MainBoard</th>
					<td><input name="mainboard"></td>
				</tr>
				
				<tr>
					<th>RAM</th>
					<td><input name="ram"></td>
				</tr>
				
				<tr>
					<th>VGA</th>
					<td><input name="vga"></td>
				</tr>
				
				<tr>
					<th>OS</th>
					<td><input name="os"></td>
				</tr>
				
				<tr>
					<th>System Image</th>
					<td><input name="img"></td>
				</tr>
			</table>
			<br><br>
			<input type="submit" value="완료">
			<input type="reset" value="다시">
		</form>
	</div>

</body>
</html>