<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<!-- 
			선택 객체의 변수식
			- 변수식은 기본적으로 컨트롤러 측이 준비한 값을 그대로 출력하는게 전부임
			  근데 숫자나 텍스트를 값으로 쓸 땐 문제가없는데 객체를 쓰려고 
			  하면 문제가 발생함
			- 물론 ${object.name}처럼 객체의 프로퍼티나 메서드를 지정해서 쓰면
			  되는데 객체 안에 값이 많으면 일일이 작성하기가 짜치는데다 객체 이름이 바뀌면
			  이미 정의한 것들도 또 바꿔야 되니까 매우 짜침
			- 이럴 때 객체를 지정해서 해당 객체 안에 있는 값을 가져올 수 있는 전용 변수식을
			  쓰면 됨
			  
			  형식) *{ }
			  		<OO th:object="${객체}">
			  		 <DD th:text="*{프로퍼티명}">
			- 태그에 'th:object'라는 속성을 써서 객체를 설정함
			  이러면 해당 태그 내부에서 *{}를 쓴 변수식을 쓸 수 있게됨.
			  이 * 형태의 변수식에선 객체 내의 프로퍼티 등을 이름만으로 지정 가능.		 
		-->
		<div align="center">
			<h1>Thymeleaf 페이지</h1>
				<table border="1" th:object="${Object}">
					<tr>
						<th>번호</th>
						<td th:text="*{num}" />
					</tr>
					
					<tr>
						<th>이름</th>
						<td th:text="*{name}" />
					</tr>
					
					<tr>
						<th>이메일</th>
						<td th:text="*{email}" />
					</tr>
				</table>
		</div>

</body>
</html>