<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div align="center">
	<hr>
		<h2>[[${d.memname}]] 회원 정보</h2>
	<hr>
	<br><br>
	
	<table border="1">
		<tr>
			<th>회원 번호</th>
			<td th:text="${d.memno}"></td>
		</tr>
		
		<tr>
			<th>회원 아이디</th>
			<td th:text="${d.memid}"></td>
		</tr>
		
		<tr>
			<th>회원 비번</th>
			<td th:text="${d.mempwd}"></td>
		</tr>
		
		<tr>
			<th>회원 번호</th>
			<td th:if="${not #strings.isEmpty(d.mempwd)}">
				<span th:each="i : ${#numbers.sequence(1, d.mempwd.length())}">
					*
				</span>
			</td>
		</tr>
		
		<tr>
			<th>회원 나이</th>
			<td th:text="${d.age}"></td>
		</tr>
		
		<tr>
			<th>마일리지</th>
			<td th:if="${d.mileage != 0}">
				<span th:text="${#numbers.formatInteger(d.mileage, 1, 'COMMA')+'마일리지'}">
				</span>
			</td>
			
			<td th:if="${d.mileage == 0}">
				<span></span>
			</td>
		</tr>
		
		<tr>
			<th>회원 직업</th>
			<td th:text="${d.job}"></td>
		</tr>
		
		<tr>
			<th>회원 주소</th>
			<td th:text="${d.addr}"></td>
		</tr>
		
		<tr>
			<th>회원 등록일</th>
			<td th:text="${d.regdate}"></td>
		</tr>
	</table>
	<br><br>
	<input type="button" value="수정" 
	th:onclick="|location.href='@{member_update.go(num=${d.memno})}'|">
	
	<input type="button" value="삭제" 
	th:onclick="|if(confirm('ㄹㅇ?')) {
	location.href='@{member_delete.go(num=${d.memno})}'
	} else {return;}|">
</div>
</body>
</html>